<!--
    featured-img.html
    partials/components/
    implements article.html
-->

<figure>

    <picture>

        {{- range (.Page.Resources.Match "featured.jpg") }}

        {{ $resizedxs := .Resize "200x" }}
        {{ $resizedsm := .Resize "400x" }}
        {{ $resizedmd := .Resize "800x" }}
        {{ $resizedlg := .Resize "1200x" }}
        {{ $resizedxl := .Resize "1600x" }}

        <img
            src="{{ $resizedmd.RelPermalink }}" alt="{{ .Params.featuredAlt }}" 
            srcset="{{ $resizedxs.RelPermalink }} 200w, 
                    {{ $resizedsm.RelPermalink }} 400w, 
                    {{ $resizedmd.RelPermalink }} 800w,
                    {{ $resizedlg.RelPermalink }} 1200w,
                    {{ $resizedxl.RelPermalink }} 1400w"
            sizes="(max-width:1200px) 100vw,  800px"
            onContextMenu="return false;" >
        
        {{ end }}

    </picture>

    <figcaption class="exif">
        <small>
            {{ .Params.featuredCamera }} &nbsp;|&nbsp; {{ .Params.featuredLens }}
            &nbsp;|&nbsp;
            {{ .Params.featuredExpose }}
            <br>
            &copy; {{ .Params.featuredCredit }}
            &nbsp;|&nbsp;
            {{/*  <a target="_blank" href="https://earth.google.com/web/search/36.976001,-110.134860/" >36.986001,-110.134860</a>  */}}
            <a href="/"><i class="flaticon-camping-tent"></i></a>&nbsp;<a href="/"><i class="flaticon-camping-tent"></i></a>
        </small>
    </figcaption>
</figure>
