@font-face {
  font-family: 'icomoon';
  src:
    url('/fonts/icomoon.ttf?2e5fjj') format('truetype'),
    url('/fonts/icomoon.woff?2e5fjj') format('woff'),
    url('/fonts/icomoon.svg?2e5fjj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.address-card:before {
  content: "\f2bb";
}
.envelope:before {
  content: "\f0e0";
}
.eye:before {
  content: "\f06e";
}
.heart:before {
  content: "\f004";
}
.hand-spock:before {
  content: "\f259";
}
.home:before {
  content: "\f015";
}
.rss:before {
  content: "\f09e";
}
.facebook:before {
  content: "\f09a";
}
.flickr:before {
  content: "\f16e";
}
.google-plus:before {
  content: "\f2b3";
}
.instagram:before {
  content: "\f16d";
}
.linkedin:before {
  content: "\f08c";
}
.medium:before {
  content: "\f23a";
}
.pinterest-p:before {
  content: "\f231";
}
.reddit-alien:before {
  content: "\f281";
}
.stumbleupon:before {
  content: "\f1a4";
}
.twitter:before {
  content: "\f099";
}
.vimeo:before {
  content: "\f40a";
}
.youtube:before {
  content: "\f167";
}
.newspaper:before {
  content: "\e904";
}
.camera1:before {
  content: "\e90f";
}
.books:before {
  content: "\e920";
}
.price-tags:before {
  content: "\e936";
}
.search:before {
  content: "\e986";
}
.share2:before {
  content: "\ea82";
}
