<!-- 
    recent-posts.html 
    partials/sections/
    implements partials/navigation/nav-slider.html
               _default/baseof.html
-->

<section id="recent-posts">
<div class="mini-posts">
<header>
<h3>Recent Posts</h3>
</header>

<article class="mini-post">
<header>
<h3>
<a href="https://overarizona.com/articles/drive/">Drive</a>
</h3>

<time class="published" datetime='2018-05-29'>
May 29, 2018</time>
</header>
<a href="https://overarizona.com/articles/drive/" class="image featured">
<img class="cld-responsive cld-hidpi" data-src="https://res.cloudinary.com/overarizona/image/upload/f_auto,w_auto,c_scale,q_jpegmini,dpr_auto/Drive-Arizona.jpg" alt="">
</a>

</article>

<article class="mini-post">
<header>
<h3>
<a href="https://overarizona.com/articles/blue-front-inn/">Blue Front Inn</a>
</h3>

<time class="published" datetime='2017-12-14'>
December 14, 2017</time>
</header>
<a href="https://overarizona.com/articles/blue-front-inn/" class="image featured">
<img class="cld-responsive cld-hidpi" data-src="https://res.cloudinary.com/overarizona/image/upload/f_auto,w_auto,c_scale,q_jpegmini,dpr_auto/v1527705857/blue-front-inn.jpg" alt="The Blue Front Inn of Mammoth, Arizona">
</a>

</article>

</div>
</section>