<!-- 
    head.html 
    partials/
    implements _default/baseof.html
-->

<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="IE=9">
<meta name="viewport" content="width=device-width, initial-scale=1" />

{{ partal "head-section/css.html" . }}

<title>{{if .IsHome}}Home | {{ .Site.Title }}{{else}}{{ .Title }} | {{ .Site.Title }}{{end}}</title>
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/google_news.html" . }}

{{ partial "head-section/favicon" . }}

<!-- TODO: [Schema] Create schema templates. See: overarizona-OLD repo. -->
<script type="application/ld+json">
{ "@context": "http://schema.org/", "@type": "WebSite", "name": "OverArizona", "url": "https://overarizona.com" }
</script>