<!-- 
    navbar.html 
    partials/
    implements _default/baseof.html
-->

<nav>

<div>
<p class="h4">{{ .Site.Title }}</p>
</div>

<div>
<p><a href="/"><i class="home"></i> home</a></p>
<p><a href="/articles"><i class="newspaper"></i> articles</a></p>
<p><a href="/categories"><i class="books"></i> categories</a></p>
<p><a href="/about"><i class="address-card"></i> about</a></p>
<p><a href="/contact"><i class="envelope"></i> contact</a></p>
</div>

<div>
<p>share</p>
<p>search</p>
</div>


</nav>