<!--
    navbar.html
    partials/
    implements _default/baseof.html
-->

<nav id="navbar">

    <div>
        <!-- TODO: If not homepage, list page title -->
        <p class="h4">
            <span>&#8285;</span>
            {{ .Site.Title }}</p>
    </div>

    <div>
        <p><a href="/"><i class="flaticon-camping-tent"></i> home</a></p>
        <p><a href="/articles">articles</a></p>
        <p><a href="/categories">categories</a></p>
        <p><a href="/about">about</a></p>
        <p><a href="/contact">contact</a></p>
    </div>

    <div>
        <p><a href="/"><i class="flaticon-share"></i> share</a></p>
    </div>


</nav>
