<!DOCTYPE HTML>
<html>

<head>
<!-- <meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="IE=9">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800,900|Source+Sans+Pro:400,700">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://overarizona.com/css/main.css">

<title>Home | OverArizona</title>
<meta name="description" content="A travelogue of people, places &amp;amp; things that make Arizona unique, featuring exclusive aerial imagery, photography and history" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="OverArizona" />
<meta name="twitter:description" content="A travelogue of people, places &amp;amp; things that make Arizona unique, featuring exclusive aerial imagery, photography and history" />

<meta property="og:title" content="OverArizona" />
<meta property="og:description" content="A travelogue of people, places &amp;amp; things that make Arizona unique, featuring exclusive aerial imagery, photography and history" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://overarizona.com/" />

<meta property="og:updated_time" content="2018-05-29T00:00:00&#43;00:00" />

<meta itemprop="name" content="OverArizona">
<meta itemprop="description" content="A travelogue of people, places &amp;amp; things that make Arizona unique, featuring exclusive aerial imagery, photography and history">

<script type="application/ld+json">
{ "@context": "http://schema.org/", "@type": "WebSite", "name": "OverArizona", "url": "https://overarizona.com" }
</script> -->

</head>

<body>

<div id="wrapper">

<!-- <header id="header">

<h1>
<a href="https://overarizona.com/">OverArizona</a>
</h1>

<nav class="links">
<ul>

<li>
<a href="https://overarizona.com/">
<i class="fas fa-home fa-fw fa-sm">&nbsp;</i>Home
</a>
</li>

<li>
<a href="https://overarizona.com/articles/">
<i class="far fa-newspaper fa-fw fa-sm">&nbsp;</i>Articles
</a>
</li>

<li>
<a href="https://overarizona.com/categories/">
<i class="fas fa-sitemap fa-fw fa-sm">&nbsp;</i>Categories
</a>
</li>

<li>
<a href="https://overarizona.com/about/">
<i class="far fa-id-card fa-fw fa-sm">&nbsp;</i>About
</a>
</li>

<li>
<a href="https://overarizona.com/contact/">
<i class="far fa-envelope fa-fw fa-sm">&nbsp;</i>Contact
</a>
</li>

</ul>
</nav>

<nav class="main">
<ul>
<li id="share-nav" class="share-menu" style="display:none;">

<a href="#share-menu">
<i class="fas fa-share-alt"></i>
</a>
</li>

<li class="search">

<a href="#search">
<i class="fas fa-search fa-lg"></i>
</a>
<form id="search" method="get" action="//google.com/search">
<input type="text" name="q" placeholder="Search" />
<input type="hidden" name="as_sitesearch" value="https://overarizona.com">
</form>
</li>
<li class="menu">
<a href="#menu">
<i class="fas fa-bars"></i>
</a>
</li>
</ul>
</nav>
</header> -->

<!-- <section id="menu">

<section>
<form class="search" method="get" action="//google.com/search">
<input type="text" name="q" placeholder="Search" />
<input type="hidden" name="as_sitesearch" value="https://overarizona.com">
</form>
</section>

<section>
<ul class="links">

<li>
<a href="https://overarizona.com/">
<h3>
<i class="fas fa-home fa-fw fa-sm">&nbsp;</i>Home
</h3>
</a>
</li>

<li>
<a href="https://overarizona.com/articles/">
<h3>
<i class="far fa-newspaper fa-fw fa-sm">&nbsp;</i>Articles
</h3>
</a>
</li>

<li>
<a href="https://overarizona.com/categories/">
<h3>
<i class="fas fa-sitemap fa-fw fa-sm">&nbsp;</i>Categories
</h3>
</a>
</li>

<li>
<a href="https://overarizona.com/about/">
<h3>
<i class="far fa-id-card fa-fw fa-sm">&nbsp;</i>About
</h3>
</a>
</li>

<li>
<a href="https://overarizona.com/contact/">
<h3>
<i class="far fa-envelope fa-fw fa-sm">&nbsp;</i>Contact
</h3>
</a>
</li>

</ul>
</section>

<section id="recent-posts">
<div class="mini-posts">
<header>
<h3>Recent Posts</h3>
</header>

<article class="mini-post">
<header>
<h3>
<a href="https://overarizona.com/articles/drive/">Drive</a>
</h3>

<time class="published" datetime='2018-05-29'>
May 29, 2018</time>
</header>
<a href="https://overarizona.com/articles/drive/" class="image featured">
<img class="cld-responsive cld-hidpi" data-src="https://res.cloudinary.com/overarizona/image/upload/f_auto,w_auto,c_scale,q_jpegmini,dpr_auto/Drive-Arizona.jpg" alt="">
</a>

</article>

<article class="mini-post">
<header>
<h3>
<a href="https://overarizona.com/articles/blue-front-inn/">Blue Front Inn</a>
</h3>

<time class="published" datetime='2017-12-14'>
December 14, 2017</time>
</header>
<a href="https://overarizona.com/articles/blue-front-inn/" class="image featured">
<img class="cld-responsive cld-hidpi" data-src="https://res.cloudinary.com/overarizona/image/upload/f_auto,w_auto,c_scale,q_jpegmini,dpr_auto/v1527705857/blue-front-inn.jpg" alt="The Blue Front Inn of Mammoth, Arizona">
</a>

</article>

</div>
</section>

</section> -->

<div id="main">

<article class="post">
<header>
<div class="title">
<h1>
<a href="/articles/drive/">Drive</a>
</h1>

<p>Come on an endless adventure with OverArizona and see what makes Arizona unique</p>

</div>
<div class="meta">

<time class="published" datetime='2018-05-29'>
May 29, 2018</time>

<span class="author">

Jason Alan Kennedy

</span>

<p id="readTime">1 minute read</p>

<span id="pageStats">
<i class="far fa-heart"></i>&nbsp;&nbsp;
<span class="hearted">525</span>
<span>&nbsp;|&nbsp;</span>
<i class="far fa-eye"></i>&nbsp;&nbsp;
<span class="pageviews"></span>
</span>

</div>
</header>

<div id="content">
<div class="video">
<img class="cld-responsive cld-hidpi" data-src="https://res.cloudinary.com/overarizona/image/upload/f_auto,w_auto,c_scale,q_jpegmini,dpr_auto/Drive-Arizona.jpg" alt="" data-video="https://player.vimeo.com/video/" webkitallowfullscreen mozallowfullscreen allowfullscreen>
<div class="playbutton">
<i class="far fa-play-circle"></i>
</div>
</div>

<div class="tube"></div>

<hr>

<h2 id="escape-the-couch">ESCAPE THE COUCH!</h2>

<p>With so much to see and do in Arizona, you might have a hard time realizing and picking which ones to experience. OverArizona combes through, everything and everywhere, the best, tastiest and most awe-inspiring places you just have to see while here - in Arizona. From grand to small, to amazement and adventure, these must-sees will help you make the most of your life and give reason to escape the couch.</p>

<hr />

<h3 id="coming-soon">COMING SOON</h3>

<p>We will be releasing a short story and showreel titled &lsquo;Drive&rsquo; about all the amazing things and adventures in and around Arizona. This will be our cornerstone piece to show what OverArizona is all about so keep checking in and and don&rsquo;t forget to bookmark us -
<strong>We promis not to disapoint!</strong>
</p>

<hr />

<script>
function initMap() {

var styledMapType = new google.maps.StyledMapType(
[{
"elementType": "geometry",
"stylers": [{
    "color": "#f5f5f5"
}]
}, {
"elementType": "labels.icon",
"stylers": [{
    "visibility": "off"
}]
}, {
"elementType": "labels.text.fill",
"stylers": [{
    "color": "#616161"
}]
}, {
"elementType": "labels.text.stroke",
"stylers": [{
    "color": "#f5f5f5"
}]
}, {
"featureType": "administrative.land_parcel",
"elementType": "labels.text.fill",
"stylers": [{
    "color": "#bdbdbd"
}]
}, {
"featureType": "poi",
"elementType": "geometry",
"stylers": [{
    "color": "#eeeeee"
}]
}, {
"featureType": "poi",
"elementType": "labels.text.fill",
"stylers": [{
    "color": "#757575"
}]
}, {
"featureType": "poi.park",
"elementType": "geometry",
"stylers": [{
    "color": "#e5e5e5"
}]
}, {
"featureType": "poi.park",
"elementType": "labels.text.fill",
"stylers": [{
    "color": "#9e9e9e"
}]
}, {
"featureType": "road",
"elementType": "geometry",
"stylers": [{
    "color": "#ffffff"
}]
}, {
"featureType": "road.arterial",
"elementType": "labels.text.fill",
"stylers": [{
    "color": "#757575"
}]
}, {
"featureType": "road.highway",
"elementType": "geometry",
"stylers": [{
    "color": "#dadada"
}]
}, {
"featureType": "road.highway",
"elementType": "labels.text.fill",
"stylers": [{
    "color": "#616161"
}]
}, {
"featureType": "road.local",
"elementType": "labels.text.fill",
"stylers": [{
    "color": "#9e9e9e"
}]
}, {
"featureType": "transit.line",
"elementType": "geometry",
"stylers": [{
    "color": "#e5e5e5"
}]
}, {
"featureType": "transit.station",
"elementType": "geometry",
"stylers": [{
    "color": "#eeeeee"
}]
}, {
"featureType": "water",
"elementType": "geometry",
"stylers": [{
    "color": "#c9c9c9"
}]
}, {
"featureType": "water",
"elementType": "labels.text.fill",
"stylers": [{
    "color": "#9e9e9e"
}]
}], {
name: 'Styled Map'
});

var myLat = '34.0489';
var myLong = '-111.0937';
var myZoom = '9';
var myCenter = new google.maps.LatLng(myLat, myLong);
var mapCanvas = document.getElementById("map");
var mapOptions = {
center: myCenter,
zoom: 9,
mapTypeControlOptions: {
mapTypeIds: ['roadmap', 'styled_map']
}
};
var map = new google.maps.Map(mapCanvas, mapOptions);
var marker = new google.maps.Marker({
position: myCenter,
icon: 'https:\/\/overarizona.com\/img\/main\/OAZ_pin.png'
});
marker.setMap(map);

map.mapTypes.set('styled_map', styledMapType);
map.setMapTypeId('styled_map');
}
</script>
</div>

<footer>
<ul class="stats">
<li class="categories">
<ul>

<i class="fa fa-sitemap"></i>

<li>
<a class="article-category-link" href="https://overarizona.com/categories/showreels">Showreels</a>
</li>

</ul>
</li>
<li class="tags">
<ul>

<i class="fa fa-tags"></i>

<li>
<a class="article-category-link" href="https://overarizona.com/tags/"></a>
</li>

</ul>
</li>
</ul>

</footer>

<hr/>

<div id="articleMap">
<h2>On the Road to Drive</h2>
<div id="map"></div>
</div>

<hr/>

<div id="supportFooter">

<h4>Please show some love with a little donation and
<br>visit our sponsors</h4>

<a href=https://overarizona.com/about/ class="button small next">Support OAZ</a>
<a href=https://overarizona.com/about/ class="button small next">Our Sponsors</a>
<br>
<br>

<h4>... and don't forget to share this with your freinds!</h4>

<section id="social-share">
<ul class="icons">

<li>
<a href="//twitter.com/share?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f&text=Drive&via=" target="_blank" class="share-btn twitter">
<i class="fab fa-twitter"></i>
<p>Twitter</p>
</a>
</li>

<li>
<a href="//plus.google.com/share?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f" target="_blank" class="share-btn google-plus">
<i class="fab fa-google-plus"></i>
<p>Google+</p>
</a>
</li>

<li>
<a href="//www.facebook.com/sharer/sharer.php?u=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f" target="_blank" class="share-btn facebook">
<i class="fab fa-facebook"></i>
<p>Facebook</p>
</a>
</li>

<li>
<a href="//reddit.com/submit?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f&title=Drive" target="_blank" class="share-btn reddit">
<i class="fab fa-reddit-alien"></i>
<p>Reddit</p>
</a>
</li>

<li>
<a href="//www.linkedin.com/shareArticle?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f&title=Drive" target="_blank" class="share-btn linkedin">
<i class="fab fa-linkedin"></i>
<p>LinkedIn</p>
</a>
</li>

<li>
<a href="//www.stumbleupon.com/submit?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f&title=Drive" target="_blank" class="share-btn stumbleupon">
<i class="fab fa-stumbleupon"></i>
<p>StumbleUpon</p>
</a>
</li>

<li>
<a href="//www.pinterest.com/pin/create/button/?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f&description=Drive" target="_blank" class="share-btn pinterest">
<i class="fab fa-pinterest-p"></i>
<p>Pinterest</p>
</a>
</li>

<li>
<a href="mailto:?subject=Check out this post by &body=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f" target="_blank" class="share-btn email">
<i class="far fa-envelope"></i>
<p>Email</p>
</a>
</li>

</ul>
</section>

</div>

</article>

<ul class="actions pagination">

</ul>

<section id="share-menu">
<section id="social-share-nav">
<ul class="links">
<header>
<h3>Share this post
<i class="far fa-smile"></i>
</h3>
</header>

<li>
<a href="//twitter.com/share?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f&text=Drive&via=" target="_blank" class="share-btn twitter">
<i class="fab fa-twitter"></i>
<p>Twitter</p>
</a>
</li>

<li>
<a href="//plus.google.com/share?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f" target="_blank" class="share-btn google-plus">
<i class="fab fa-google-plus"></i>
<p>Google+</p>
</a>
</li>

<li>
<a href="//www.facebook.com/sharer/sharer.php?u=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f" target="_blank" class="share-btn facebook">
<i class="fab fa-facebook"></i>
<p>Facebook</p>
</a>
</li>

<li>
<a href="//reddit.com/submit?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f&title=Drive" target="_blank" class="share-btn reddit">
<i class="fab fa-reddit-alien"></i>
<p>Reddit</p>
</a>
</li>

<li>
<a href="//www.linkedin.com/shareArticle?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f&title=Drive" target="_blank" class="share-btn linkedin">
<i class="fab fa-linkedin"></i>
<p>LinkedIn</p>
</a>
</li>

<li>
<a href="//www.stumbleupon.com/submit?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f&title=Drive" target="_blank" class="share-btn stumbleupon">
<i class="fab fa-stumbleupon"></i>
<p>StumbleUpon</p>
</a>
</li>

<li>
<a href="//www.pinterest.com/pin/create/button/?url=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f&description=Drive" target="_blank" class="share-btn pinterest">
<i class="fab fa-pinterest-p"></i>
<p>Pinterest</p>
</a>
</li>

<li>
<a href="mailto:?subject=Check out this post by &body=https%3a%2f%2foverarizona.com%2farticles%2fdrive%2f" target="_blank" class="share-btn email">
<i class="far fa-envelope"></i>
<p>Email</p>
</a>
</li>

</ul>
</section>
</section>

</div>

<section id="sidebar">

<section id="intro">

<a href='https://overarizona.com/'>
<img src="https://overarizona.com/img/main/logo-150x150.png" class="intro-circle" width="" alt="OverArizona logo" />
</a>

<header>
<h2>OverArizona</h2>
<p>A travelogue of people, places &amp; things that make Arizona unique, from spectacular landscapes &amp; colorful history, to the fascinating culture &amp; endless adventure</br>
<i class='fas fa-hand-peace'></i>
</br>
</p>
</header>

<ul class="icons">

<li>
<a href="/index.xml" type="application/rss+xml" target="_blank" title="RSS">
<i class="fa fa-rss"></i>
</a>
</li>

<li>
<a href="//flickr.com/photos/OverArizona" target="_blank" title="Flickr">
<i class="fab fa-flickr"></i>
</a>
</li>

<li>
<a href="//medium.com/@overarizonas" target="_blank" title="Medium">
<i class="fab fa-medium"></i>
</a>
</li>

<li>
<a href="//linkedin.com/in/OverArizona" target="_blank" title="LinkedIn">
<i class="fab fa-linkedin"></i>
</a>
</li>

<li>
<a href="//youtube.com/OverArizona" target="_blank" title="YouTube">
<i class="fab fa-youtube"></i>
</a>
</li>

<li>
<a href="//vimeo.com/OverArizona" target="_blank" title="Vimeo">
<i class="fab fa-vimeo"></i>
</a>
</li>

<li>
<a href="//instagram.com/OverArizona" target="_blank" title="Instagram">
<i class="fab fa-instagram"></i>
</a>
</li>

<li>
<a href="//gettyimages.com/OverArizona" title="Getty Images">
<i class="fas fa-camera-retro"></i>
</a>
</li>

</ul>

</section>

<section id="recent-posts">
<div class="mini-posts">
<header>
<h3>Coming Soon</h3>
</header>
<div class="posts-container">

<article class="mini-post">
<header>
<h3>
<a href="https://overarizona.com/articles/blue-front-inn/">Blue Front Inn</a>
</h3>

<time class="published" datetime='2017-12-14'>
December 14, 2017
</time>
</header>
<a href="https://overarizona.com/articles/blue-front-inn/" class="image featured">
<img class="cld-responsive cld-hidpi" data-src="https://res.cloudinary.com/overarizona/image/upload/f_auto,w_auto,c_scale,q_jpegmini,dpr_auto/v1527705857/blue-front-inn.jpg" alt="The Blue Front Inn of Mammoth, Arizona">
</a>

</article>

</div>
</div>
</section>

<section id="recent-posts">
<div class="mini-posts">
<header>
<h3>Recent Articles</h3>
</header>
<div class="posts-container">

<article class="mini-post">
<header>
<h3>
<a href="https://overarizona.com/articles/drive/">Drive</a>
</h3>

<time class="published" datetime='2018-05-29'>
May 29, 2018
</time>
</header>
<a href="https://overarizona.com/articles/drive/" class="image featured">
<img class="cld-responsive cld-hidpi" data-src="https://res.cloudinary.com/overarizona/image/upload/f_auto,w_auto,c_scale,q_jpegmini,dpr_auto/Drive-Arizona.jpg" alt="">
</a>

</article>

</div>

</div>
</section>

<section id="categories">
<header>
<h3>
<a href=h ttps://overarizona.com/categories/>Categories</a>
</h3>
</header>

<p>
<article>
<header>

</header>
</article>
</p>

<p>
<article>
<header>

<a href="https://overarizona.com/categories/forgotten-arizona/">Forgotten Arizona</a>
<span style="float:right;">1</span>

</header>
</article>
</p>

<p>
<article>
<header>

<a href="https://overarizona.com/categories/showreels/">Showreels</a>
<span style="float:right;">1</span>

</header>
</article>
</p>

</section>

<section id="mini-bio">
<h3>About</h1>
<p>OverArizona brings new, updated, and exciting content pertaining to the state of Arizona that is unique
and current. From forgotten stories to cutting-edge presentations, all media here is all shot using
consumer drones and mobile phone cameras so you, the traveler, can get a true view of what Arizona
has to offer using the most commonly used devices.</p>
<a href=https://overarizona.com/about/ class="button">Learn More</a>
</section>

<section id="footer">

<ul class="icons">

<li>
<a href="https://overarizona.com/index.xml" type="application/rss+xml" target="_blank" title="RSS" class="fa fa-rss"></a>
</li>

<li>
<a href="//flickr.com/photos/OverArizona" target="_blank" title="Flickr">
<i class="fab fa-flickr"></i>
</a>
</li>

<li>
<a href="//medium.com/@overarizonas" target="_blank" title="Medium">
<i class="fab fa-medium"></i>
</a>
</li>

<li>
<a href="//linkedin.com/in/OverArizona" target="_blank" title="LinkedIn">
<i class="fab fa-linkedin"></i>
</a>
</li>

<li>
<a href="//youtube.com/OverArizona" target="_blank" title="YouTube">
<i class="fab fa-youtube"></i>
</a>
</li>

<li>
<a href="//vimeo.com/OverArizona" target="_blank" title="Vimeo">
<i class="fab fa-vimeo"></i>
</a>
</li>

<li>
<a href="//instagram.com/OverArizona" target="_blank" title="Instagram">
<i class="fab fa-instagram"></i>
</a>
</li>

<li>
<a href="//gettyimages.com/OverArizona" title="Getty Images">
<i class="fas fa-camera-retro"></i>
</a>
</li>

</ul>

<p class="copyright">

&copy; 2018 OverArizona . Powered by
<a href="//gohugo.io" target="_blank">Hugo</a>
</p>
</section>
</section>

</div>
<a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.5.0/cloudinary-core-shrinkwrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
<script type="text/javascript" src="https://overarizona.com/js/util.js"></script>
<script type="text/javascript" src="https://overarizona.com/js/main.js"></script>
<script type="text/javascript" src="https://overarizona.com/js/backToTop.js"></script>

<script type="text/javascript">
var cl = cloudinary.Cloudinary.new({ cloud_name: "overarizona" });
cl.responsive();
</script>

<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyD-R8qYjo4xq52j62Xi43kmwG1BnLNdmuw&callback=initMap">
</script>

<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>
<script>

var config = {
apiKey: "AIzaSyDXUv2U5FJYCVmlJA8fEWtjUFmaEYNcwpo",
authDomain: "overarizona.firebaseapp.com",
databaseURL: "https://overarizona.firebaseio.com",
projectId: "overarizona",
storageBucket: "",
messagingSenderId: "635557373040"
};
firebase.initializeApp(config);
var rootRef = firebase.database().ref(),
pageViewsRef = rootRef.child('pageviews'),
pathkey = 'OverArizona',
pageRef = pageViewsRef.child(pathkey),
counted = false;

pageRef.on('value', function (pageviews) {
var pageviewsCount = pageviews.val(),
$pageviews = $('.pageviews');

$pageviews.attr('title', pageviewsCount + ' people saw this post');
$pageviews.text(pageviewsCount);
$pageviews.addClass('initialized');

if (pageviewsCount > 20) {
$pageviews.addClass('initialized');
}
if (!counted) {
counted = true;
pageRef.transaction(function (views) {
return views + 1;
});
}
});
</script>

<script>
$('.playbutton,img').click(function () {
var video = '<div class="video-container"><iframe src="' + $('img').attr('data-video') + '"></iframe></div>';
$('.video').hide();
$('.tube').html(video);
});

$('.close').click(function () {
$('.video').show();
$('.tube').empty();
});
</script>

</body>

</html>