<!DOCTYPE HTML>
<html lange="{{ .Site.LanguageCode }}">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=9">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,900">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/base.css">

	<link rel="stylesheet"
		media="screen and (min-width: 48.0rem)" 
		href="css/tablet.css">
	<link rel="stylesheet"
		media="screen and (min-width: 64.0rem)" 
		href="css/laptop-s.css">
	<link rel="stylesheet"
		media="screen and (min-width: 90.0rem)" 
		href="css/laptop-hd.css">
	<link rel="stylesheet"
		media="screen and (min-width: 160.0rem)" 
		href="css/4k.css">

	<title>{{if .IsHome}}Home | {{ .Site.Title }}{{else}}{{ .Title }} | {{ .Site.Title }}{{end}}</title>
	<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

	<link rel="manifest" href="/manifest.json">

</head>

<body>
	<nav>
		<h2 class="h4">{{ .Site.Title }}</h2>
	</nav>
	<div id="wrapper">
		<article>
			<header>
				<div id="article-title" class="border">
					<h1>Content title</h1>
					<p>Lorem ipsum dolor sit amet, consul commune vim et. Nam et rebum dicunt antiopam noster.</p>
				</div>
				<div id="article-meta">
					<p><strong>DECEMBER 14, 2018</strong></p>
					<p>author(s)</p>
					<p>likes | views</p>
				</div>
			</header>
			<main>
				<video src="#"></video>
			</main>
			<footer>Article Footer</footer>
		</article>
		<aside>
			<header>
				<img src="https://via.placeholder.com/120x120"></img>
				<section>
					<h2 class="h1">{{ .Site.Title }}</h2>
					<p>{{ .Site.Params.description }}</p>
				</section>
			</header>
			<section>
				<h2>Coming Soon</h2>
				<article class="cards">
					<img src="https://via.placeholder.com/700x370"></img>
					<div>
						<h1 class="h3">title</h1>
						<p class="date">december 14, 2018</p>
					</div>
				</article>
			</section>
			<section>
				<h2>Recent Articles</h2>
				<article class="cards">
					<img src="https://via.placeholder.com/700x370"></img>
					<div>
						<h1 class="h3">title</h1>
						<p class="date">december 14, 2018</p>
					</div>
				</article>
				<br>
				<article class="cards">
					<img src="https://via.placeholder.com/700x370"></img>
					<div>
						<h1 class="h3">title</h1>
						<p class="date">december 14, 2018</p>
					</div>
				</article>
			</section>
			<section>
				<h2>Categories</h2>
			</section>
			<section>
				<h2>About</h2>
			</section>
			<footer>Footer</footer>
		</aside>
	</div>
</body>

</html>